<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<appSettings>
		<add key="workbook_BUG_Jira"                      value=".\SampleData\Jira 2022-09-03T10_48.xls" />
		<add key="workbook_TC_Jira"                       value=".\SampleData\TC_Jira 2022-09-03T11_07.xls" />
		<add key="workbook_Summary"                       value=".\SampleData\Report_Template.xlsx" />
		<add key="workbook_StandardTestReport"            value=".\SampleData\TestFileFolder\0.0_DQA Test Report\BenQ_Medical_Standard Test Report.xlsx" />
    <add key="workbook_ReportToTestKeyword"           value=".\SampleData\TestKeyWord\0.0_DQA Test Report\BenQ_Medical_Standard Test Report.xlsx" />
    <add key="Excel_Visible"                          value="true" />
    <add key="Issue_SheetName"                        value="general_report" />
    <add key="Issue_Key_Prefix"                       value="-" />
		<add key="Issue_Row_NameDefine"                   value="4" />
		<add key="Issue_Row_DataBegin"                    value="5" />
		<add key="TC_Key_Prefix"                          value="TC" />
		<add key="TC_SheetName"                           value="general_report" />
		<add key="TC_Row_NameDefine"                      value="4" />
		<add key="TC_Row_DataBegin"                       value="5" />
		<add key="workbook_TC_Template"                   value=".\SampleData\TC_Jira_Template.xlsx" />
    <add key="TestPlan_Row_NameDefine"                value="2" />
    <add key="TestPlan_Row_DataBegin"                 value="3" />
    <add key="TestReport_Row_UserStart"               value="27" />
    <add key="TestReport_Column_Keyword_Indentifier"  value="2" />
    <add key="TestReport_Regex_Keyword_Indentifier"   value="(?i)Item" />
    <add key="TestReport_Column_Keyword_Location"     value="3" />
    <add key="TestReport_Regex_Keyword_Indentifier"   value="(?i)Item" />
    <add key="TestReport_Result_Titlle_Offset_Row"    value="1" />
    <add key="TestReport_Result_Titlle_Offset_Col"    value="1" />
    <add key="TestReport_BugStatus_Titlle_Offset_Row" value="1" />
    <add key="TestReport_BugStatus_Titlle_Offset_Col" value="3" />
    <add key="TestReport_BugList_Titlle_Offset_Row"   value="2" />
    <add key="TestReport_BugList_Titlle_Offset_Col"   value="1" />
    <add key="TC_Row_DataBegin"                       value="5" />
    <add key="default_report_Font"                    value="Mabry Pro" />
    <add key="default_report_FontSize"                value="10" />
    <add key="default_report_FontColor"               value="Black" />
    <add key="default_report_FontStyle"               value="Regular" />
    <add key="Keyword_report_A_Issue_Color"           value="Red" />
    <add key="Keyword_report_B_Issue_Color"           value="DarkOrange" />
    <add key="Keyword_report_C_Issue_Color"           value="Black" />
    <add key="Keyword_report_D_Issue_Color"           value="Black" />
  </appSettings>
</configuration>
