<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<appSettings>
    <!-- Jira Bug Excel - Default -->
    <add key="workbook_BUG_Jira"                          value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <!-- Jira Test Case Excel - Default -->
    <add key="workbook_TC_Jira"                           value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <!-- Default Keyword Report Root-Directory - Default -->
    <add key="Keyword_default_report_dir"                 value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <!-- Jira TC Excel template for output -->
    <add key="workbook_TC_Template"                       value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="Report_E_Remove_AUO_Sheet_Default_Excel"    value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="Report_D_Copy_Only_Default_Excel"           value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="Report_C_Default_Excel"                     value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="InputExcel_Sheetname_ReportList"            value="ReportList" />
    <add key="InputExcel_Sheetname_HeaderTemplate"        value="BeforeLine21" />
    <add key="InputExcel_Sheetname_Bug"                   value="Bug" />
    <add key="InputExcel_Sheetname_TestCase"              value="TestCase" />
    <!-- When this option is TRUE, all other updating options in Report_C are no effect (behavior as FALSE) -->
    <add key="Report_C_CopyFileOnly"                      value="false" />
    <!-- This applied to removing AUO internal only sheet and content in report C  -->
    <add key="Report_C_Remove_AUO_Internal"               value="false" />
    <!-- This applied to renaming sheet-name in report C -->
    <add key="Report_C_Update_Report_Sheetname"           value="true" />
    <!-- Clear bug-list, bug-count, Pass/Fail/Conditional_Pass count, judgement -->
    <add key="Report_C_Clear_Keyword_Result"              value="false" />
    <!-- This applied to hide keyword status and keyword result. "Item" and keyword are kept-->
    <add key="Report_C_Hide_Keyword_Result_Bug_Row"       value="true" />  <!-- Decide if hiding row. -->
    <!-- Replace "Conclusion" with TC linked issue -->
    <add key="Report_C_Replace_Conclusion"                value="true" />
    <!-- This can be used to update header by template file and disable Report_C_Update_Full_Header & its keyword report header options -->
    <add key="Report_C_Update_Header_by_Template"         value="false" />
    <!-- This can be used to disable all following keyword report header options -->
    <?ignore
    <add key="Report_C_Update_Full_Header"                value="false" />
    <!-- Keyword Report Header Item Update or Not Flag - BEGIN -->
    <add key="Update_Report_Title_by_Sheetname"           value="false" />
    <add key="Update_Model_Name"                          value="false" />
    <add key="Update_Part_No"                             value="false" />
    <add key="Update_Panel_Module"                        value="false" />
    <add key="Update_TCON_Board"                          value="false" />
    <add key="Update_AD_Board"                            value="false" />
    <add key="Update_Power_Board"                         value="false" />
    <add key="Update_Smart_BD_OS_Version"                 value="false" />
    <add key="Update_Touch_Sensor"                        value="false" />
    <add key="Update_Speaker_AQ_Version"                  value="false" />
    <add key="Update_SW_PQ_Version"                       value="false" />
    <add key="Update_Test_Stage"                          value="false" />
    <add key="Update_Test_QTY_SN"                         value="false" />
    <add key="Update_Test_Period_Begin"                   value="false" />
    <add key="Update_Test_Period_End"                     value="false" />
    <add key="Update_Judgement"                           value="false" />
    <add key="Update_Tested_by"                           value="false" />
    <add key="Update_Approved_by"                         value="false" />
    <!-- Keyword Report Header Item Update or Not Flag - END -->
    <!-- Keyword Report Header Default Value List - BEGIN -->
    <add key="Default_Model_Name"                         value="Acer XZ271U X3 HAS \n(MC270QA01.0)" />
    <add key="Default_Part_No"                            value="99.M2710.0A4" />
    <add key="Default_Panel_Module"                       value="M270DVR03.2 (27&#34; Curved  QHD 240Hz)" />     <!-- How to use special characters in XML: https://www.dvteclipse.com/documentation/svlinter/How_to_use_special_characters_in_XML.3F.html -->
    <add key="Default_TCON_Board"                         value="55.27M31.C08 (M270DVR03)" />
    <add key="Default_AD_Board"                           value="55.M2710.M01(MT9980SW_CVTE)" />
    <add key="Default_Power_Board"                        value="ADP-65DE BC(19V,3.42A / DELTA)" />
    <add key="Default_Smart_BD_OS_Version"                value="N/A / UI: xxx.xxx" />
    <add key="Default_Touch_Sensor"                       value="N/A" />
    <add key="Default_Speaker_AQ_Version"                 value="N/A / AQ: xxx.xxx" />
    <add key="Default_SW_PQ_Version"                      value="V00.01.006_20230519" />
    <add key="Default_Test_Stage"                         value=" " />
    <add key="Default_Test_QTY_SN"                        value=" " />
    <add key="Default_Test_Period_Begin"                  value="2023/07/12" />
    <add key="Default_Test_Period_End"                    value="2023/07/19" />
    <add key="Default_Judgement"                          value=" " />
    <add key="Default_Tested_by"                          value=" " />
    <add key="Default_Approved_by"                        value="Jeremy Hsiao" />
    <!-- Keyword Report Header Default Value List - END -->
    <add key="Report_C_ReadHeaderItem"                    value="false" />
    ?>
    <!-- END: options for Report C -->
    <add key="Excel_Visible"                              value="true" />
    <add key="BugList_ExportedSheetName"                  value="general_report" />
    <add key="Issue_Key_Prefix"                           value="-" />
		<add key="Issue_Row_NameDefine"                       value="4" />
		<add key="Issue_Row_DataBegin"                        value="5" />
		<add key="TC_Key_Prefix"                              value="T" />
    <add key="TCList_ExportedSheetName"                   value="general_report" />
    <add key="TC_SheetName"                               value="TCResult" />
    <add key="TC_Template_SheetName"                      value="TCResult" /> <!-- Reserved for future use -->
		<add key="TC_Row_NameDefine"                          value="4" />
		<add key="TC_Row_DataBegin"                           value="5" />
    <add key="LinkIssueFilterStatusString"                value="Close (0)" />
    <add key="TestPlan_Row_NameDefine"                    value="2" />
    <add key="TestPlan_Row_DataBegin"                     value="3" />
    <add key="TestReport_Row_UserStart"                   value="22" />
    <add key="TestReport_Column_Keyword_Indentifier"      value="2" />
    <add key="TestReport_Regex_Keyword_Indentifier"       value="(?i)Item" />
    <add key="TestReport_Column_Keyword_Location"         value="3" />
    <add key="TestReport_Regex_Keyword_Indentifier"       value="(?i)Item" />
    <add key="TestReport_Result_Titlle_Offset_Row"        value="1" />
    <add key="TestReport_Result_Titlle_Offset_Col"        value="1" />
    <add key="TestReport_BugStatus_Titlle_Offset_Row"     value="1" />
    <add key="TestReport_BugStatus_Titlle_Offset_Col"     value="3" />
    <add key="TestReport_BugList_Titlle_Offset_Row"       value="2" />
    <add key="TestReport_BugList_Titlle_Offset_Col"       value="1" />
    <add key="TestReport_Default_Output_Path"             value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="TestReport_Default_Source_Path"             value="\\auhqascfs1\Share\ADQA00\ADQAA0\14_Others\01_Project-Verify" />
    <add key="TestReport_FilterStatusString"              value="Close (0)" />
    <add key="TC_Row_DataBegin"                           value="5" />

    <add key="default_report_Font"                        value="Gill Sans MT" />
    <!-- default_report_Font == " " means no format is applied and output only text. Font example: "Gill Sans MT" -->
    <add key="default_report_FontSize"                    value="10" />
    <add key="default_report_FontColor"                   value="Black" />
    <add key="default_report_FontStyle"                   value="Regular" />

    <add key="LinkIssue_report_Font"                      value="Gill Sans MT" />
    <!-- LinkIssue_report_Font == " " means no format is applied and output only text. Font example: "Gill Sans MT" -->
    <add key="LinkIssue_report_FontSize"                  value="10" />
    <add key="LinkIssue_report_FontColor"                 value="Red" />
    <add key="LinkIssue_report_FontStyle"                 value="Regular" />
    <add key="LinkIssue_A_Issue_Color"                    value="Red" />
    <add key="LinkIssue_B_Issue_Color"                    value="Red" />
    <add key="LinkIssue_C_Issue_Color"                    value="Red" />
    <add key="LinkIssue_D_Issue_Color"                    value="Red" />

    <add key="Keyword_report_Font"                        value="Gill Sans MT" />
    <!-- default_report_Font == " " means no format is applied and output only text. Font example: "Gill Sans MT" -->
    <add key="Keyword_report_FontSize"                    value="10" />
    <add key="Keyword_report_FontColor"                   value="Red" />
    <add key="Keyword_report_FontStyle"                   value="Regular" />
    <add key="Keyword_report_A_Issue_Color"               value="Red" />
    <add key="Keyword_report_B_Issue_Color"               value="Red" />
    <add key="Keyword_report_C_Issue_Color"               value="Red" />
    <add key="Keyword_report_D_Issue_Color"               value="Red" />
    
    <add key="Keyword_report_replace_conclusion"          value="true" />
    <add key="Keyword_report_Hide_Keyword_Result_Bug"     value="true" />  
    <!-- Auto-correct worksheet is not for end-user -->
    <add key="Keyword_Auto_Correct_Worksheet"             value="false" />
    <!-- Report 4 -->
    <add key="TestReport_Single"                          value=".\SampleData\A.1.1_OSD _All.xlsx" />

    <!-- Past function -->
    <!-- Report 2 -->
    <add key="workbook_Summary"                           value=".\SampleData\EVT_Winnie_Keyword2.5_keyword\Report_Template.xlsx" />
    <!-- Report 3 -->
    <add key="workbook_StandardTestReport"                value=".\SampleData\TestFileFolder\0.0_DQA Test Report\BenQ_Medical_Standard Test Report.xlsx" />
  </appSettings>
</configuration>
