<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="workbook_BUG_Jira"  value=".\SampleData\Jira 2022-08-12T15_20_08+0800.xls" />
    <add key="workbook_TC_Jira"   value=".\SampleData\TC_Jira 2022-08-12T15_16_38+0800.xls" />
    <add key="workbook_Report"    value=".\SampleData\Report_Template.xlsx" />
    <add key="Issue_Key_Prefix"   value="BENSE" />
    <add key="TC_Key_Prefix"      value="TCBEN" />
    <add key="TC_SheetName"       value="general_report" />
    <add key="TC_Row_NameDefine"  value="4" />
    <add key="TC_Row_DataBegin"   value="5" />
  </appSettings>
</configuration>
